body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: backgroundAnimation 20s linear infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.section {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 400px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  color: #333333;
}

.scrollable {
  overflow-y: auto;
  max-height: 300px;
}

#search-results {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto;
  max-height: 300px;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333333;
}

.slideshow {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  margin-top: 20px;
  position: relative; /* Added relative positioning */
}

.slide {
  flex: 0 0 400px;
  display: none;
  width: 100%;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: auto;
  position: sticky;
  bottom: 20px;
  z-index: 1;
}

.prev-btn,
.next-btn {
  background-color: #654321;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
  transition: transform 0.3s;
  position: relative; /* Add relative positioning */
  z-index: 1; /* Ensure buttons stay above the slideshow */
}



.prev-btn:hover,
.next-btn:hover {
  background-color: #8b4513;
}



/* Media Queries */

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .section {
    width: 100%;
  }

  .slide {
    flex: 0 0 100%;
  }
}

@media only screen and (max-width: 400px) {
  .controls {
    flex-direction: column;
    align-items: center;
  }

  .prev-btn,
  .next-btn {
    margin: 5px 0;
  }
}
