html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: backgroundAnimation 20s infinite linear;
}

@keyframes backgroundAnimation {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}


body {
  background-color: #e7d1bd;
  font-family: Arial, sans-serif;
}

form {
  background-color: rgba(232, 216, 201, 0.5); /* Set the background color with opacity */
  padding: 20px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.section {
  background-color: rgba(232,216,201,255); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  width: 400px;
  text-align: center;
  margin: 10px;
}

h2 {
  color: #333333;
}

.scrollable {
  overflow-y: auto;
  max-height: 300px;
}

#search-results {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow-y: auto; /* Make search results scrollable */
  max-height: 300px; /* Set the maximum height for scrollable results */
}


button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.slideshow {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  margin-top: 20px;
}
.slide {
  flex: 0 0 100%;
  display: none;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: #45a049;
}
